:root {
    --P0: oklab(0% -0.00442 -0.00746);
    --P4: oklab(12.006% -0.00687 -0.0116);
    --P6: oklab(15.145% -0.00866 -0.01462);
    --P10: oklab(20.103% -0.01147 -0.01937);
    --P12: oklab(22.274% -0.0127 -0.02144);
    --P17: oklab(27.296% -0.01551 -0.02619);
    --P20: oklab(30.152% -0.01709 -0.02886);
    --P22: oklab(32.017% -0.01811 -0.03058);
    --P24: oklab(33.859% -0.01911 -0.03227);
    --P30: oklab(39.287% -0.02199 -0.03712);
    --P40: oklab(48.145% -0.0263 -0.04441);
    --P50: oklab(56.884% -0.02966 -0.05008);
    --P60: oklab(65.56% -0.03107 -0.05246);
    --P70: oklab(74.198% -0.02853 -0.04817);
    --P80: oklab(82.813% -0.02092 -0.03532);
    --P87: oklab(88.834% -0.01389 -0.02346);
    --P90: oklab(91.412% -0.01071 -0.01809);
    --P92: oklab(93.131% -0.00857 -0.01448);
    --P94: oklab(94.849% -0.00642 -0.01085);
    --P95: oklab(95.707% -0.00535 -0.00903);
    --P96: oklab(96.566% -0.00428 -0.00722);
    --P98: oklab(98.283% -0.00213 -0.0036);
    --P100: oklab(100% -0.00442 -0.00746);

    --A0: oklab(0% -0.00864 -0.01458);
    --A10: oklab(20.103% -0.02249 -0.03797);
    --A20: oklab(30.152% -0.03374 -0.05696);
    --A30: oklab(39.287% -0.04397 -0.07423);
    --A40: oklab(48.145% -0.05384 -0.09091);
    --A50: oklab(56.884% -0.06332 -0.1069);
    --A60: oklab(65.56% -0.07121 -0.12024);
    --A70: oklab(74.198% 0.07995 0.13498);
    --A80: oklab(82.813% 0.05682 0.09593);
    --A90: oklab(91.412% 0.02698 0.04555);
    --A100: oklab(100% 0.00513 0.00866);

    --E0: oklab(0% 0.02634 0.01138);
    --E10: oklab(20.103% 0.0686 0.02963);
    --E20: oklab(30.152% 0.10294 0.04447);
    --E30: oklab(39.287% 0.13413 0.05794);
    --E40: oklab(48.145% 0.16384 0.07077);
    --E50: oklab(56.884% 0.19026 0.08219);
    --E60: oklab(65.56% 0.19005 0.08209);
    --E70: oklab(74.198% 0.13756 0.05942);
    --E80: oklab(82.813% 0.08487 0.03666);
    --E90: oklab(91.412% 0.03909 0.01688);
    --E100: oklab(100% 0.00735 0.00318);
}