header {
    display: flex;
    padding: 16px;
    height: 9rem;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

header.product {
    padding: 0px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

header.product > img {
    object-fit: cover;
    width: 100%;
}

nav {
    display: flex;
    margin: 0.5rem auto;
    max-width: 768px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.25rem;
}

nav a {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: transparent;
    color: var(--accent);
}

nav a:hover {
    color: var(--on-accent);
    background-color: var(--accent);
    text-decoration: none;
}

nav a.current {
    color: var(--on-accent-container);
    background-color: var(--accent-container);
}

main {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 768px;
}

#hero {
    padding: 2rem;
}

section.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
}

section.columns>* {
    flex: 1 1 320px;
}

.card {
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.03125rem;
    background-color: var(--surface-container);
    overflow: hidden;
}

.post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

.post>.media {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 256px;
}

.post>.media img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post>.info {
    flex-grow: 1;
    flex-basis: 256px;
    padding: 0rem 0.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.info>.details {
    flex-grow: 1;
}

.info>.actions {
    flex-basis: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0rem 0.5rem;
}

sub>a {
    color: var(--on-surface);
    text-decoration: none;
}

sub>a:hover {
    color: var(--accent);
    text-decoration: underline;
}

a.button,
a.cta-button {
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 1px;
    border-width: 0.03125rem;
    border-color: transparent;
}

a.cta-button {
    background-color: var(--on-accent);
    color: var(--accent);
}

a.cta-button:hover {
    background-color: var(--accent);
    color: var(--on-accent);
    border-color: var(--on-accent);
}

a.button {
    background-color: var(--surface-container-high);
    color: var(--on-surface);
}

a.button:hover {
    border-color: var(--outline);
    background-color: var(--surface-container-highest);
}

footer {
    padding: 2rem 8px;
    background-color: var(--surface-container-lowest);
    font-size: 0.8em;
}

footer>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
    max-width: 768px;
    gap: 16px;
}

footer>section>* {
    flex-grow: 2;
    flex-basis: 256px;
    text-align: center;
}

footer a {
    color: var(--on-surface);
}

footer a:hover {
    color: var(--accent);
}

#socials {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#socials a {
    display: block;
    width: 16px;
    height: 16px;
    flex-basis: 16px;
}

#socials svg {
    width: 100;
    height: 100%;
}

#socials a:hover {
    text-decoration: none;
}

ul.apps {
    list-style-type: none;
    padding: 0px;
}

ul.apps > li, ul.apps > li > a {
    min-height: 8rem;
}

ul.apps > li {
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.03125rem;
    background-color: var(--surface-container);
    overflow: hidden;
}

ul.apps > li > a {
    width: 100%;
    background-color: var(--surface-container);
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    align-items: stretch;
    justify-content: center;
    color: var(--on-surface);
    text-decoration: none;
}

ul.apps > li > a:hover {
    background-color: var(--surface-container-high);
}

ul.apps > li > a:active {
    background-color: var(--surface-container-highest);
}

ul.apps > li > a > img {
    flex-basis: 8rem;
    object-fit: cover;
    background-color: var(--surface-variant);
}

ul.apps > li > a > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 12rem;
    height: 100%;
    padding: 0rem 0.5rem;
}

.slide-gallery {
    display: flex;
    height: 24rem;
    background-color: var(--surface-container-low);
    margin: 1rem 0rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slide-gallery > img {
    height: 100%;
    width: auto;
    border-radius: 0.25rem;
    flex-shrink: 0;
    scroll-snap-align: center;
    border-style: solid;
    border-width: 0.125rem;
    border-color: transparent;
}

.slide-gallery > img:hover {
    border-color: var(--outline);
}

.product-icon {
    display: block;
    margin: -4.5rem auto 0rem auto;
    border-radius: 3rem;
    height: 9rem;
    width: 9rem;
    background-color: var(--surface-variant);
}

.download-links {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0.5rem;
}

.download-links.small a  {
    height: 2rem;
    line-height: 2rem;
}

.download-links a {
    flex-basis: 12rem;
    height: 4rem;
    vertical-align: middle;
    text-align: center;
    line-height: 4rem;
}

.download-links img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}