:root {
    --P0: oklab(0% 0.02796 0.01127);
    --P4: oklab(12.006% 0.04348 0.01753);
    --P6: oklab(15.145% 0.05485 0.02211);
    --P10: oklab(20.103% 0.07282 0.02936);
    --P12: oklab(22.274% 0.08068 0.03253);
    --P17: oklab(27.296% 0.09889 0.03987);
    --P20: oklab(30.152% 0.10924 0.04404);
    --P22: oklab(32.017% 0.11601 0.04677);
    --P24: oklab(33.859% 0.12268 0.04946);
    --P30: oklab(39.287% 0.14235 0.05738);
    --P40: oklab(48.145% 0.1742 0.07023);
    --P50: oklab(56.884% 0.20421 0.08232);
    --P60: oklab(65.56% 0.20508 0.08267);
    --P70: oklab(74.198% 0.14309 0.05768);
    --P80: oklab(82.813% 0.08756 0.0353);
    --P87: oklab(88.834% 0.05369 0.02164);
    --P90: oklab(91.412% 0.04032 0.01626);
    --P92: oklab(93.131% 0.03176 0.0128);
    --P94: oklab(94.849% 0.02346 0.00946);
    --P95: oklab(95.707% 0.0194 0.00782);
    --P96: oklab(96.566% 0.01541 0.00621);
    --P98: oklab(98.283% 0.00759 0.00306);
    --P100: oklab(100% 0.02796 0.01127);

    --A0: oklab(0% 0.02796 0.01127);
    --A10: oklab(20.103% 0.07282 0.02936);
    --A20: oklab(30.152% 0.10924 0.04404);
    --A30: oklab(39.287% 0.14235 0.05738);
    --A40: oklab(48.145% 0.1742 0.07023);
    --A50: oklab(56.884% 0.20421 0.08232);
    --A60: oklab(65.56% 0.20508 0.08267);
    --A70: oklab(74.198% 0.14284 0.05758);
    --A80: oklab(82.813% -0.12767 -0.05147);
    --A90: oklab(91.412% -0.08907 -0.03591);
    --A100: oklab(100% -0.01751 -0.00706);

    --E0: oklab(0% 0.02796 0.01127);
    --E10: oklab(20.103% 0.07282 0.02936);
    --E20: oklab(30.152% 0.10924 0.04404);
    --E30: oklab(39.287% 0.14235 0.05738);
    --E40: oklab(48.145% 0.1742 0.07023);
    --E50: oklab(56.884% 0.20421 0.08232);
    --E60: oklab(65.56% 0.20508 0.08267);
    --E70: oklab(74.198% 0.14309 0.05768);
    --E80: oklab(82.813% 0.08756 0.0353);
    --E90: oklab(91.412% 0.04032 0.01626);
    --E100: oklab(100% 0.00759 0.00306);
}