:root {
    --P0: oklab(0% -0.00445 0.00307);
    --P4: oklab(12.006% -0.00691 0.00477);
    --P6: oklab(15.145% -0.00871 0.00601);
    --P10: oklab(20.103% -0.01153 0.00796);
    --P12: oklab(22.274% -0.01275 0.0088);
    --P17: oklab(27.296% -0.01555 0.01073);
    --P20: oklab(30.152% -0.01712 0.01181);
    --P22: oklab(32.017% -0.01812 0.01251);
    --P24: oklab(33.859% -0.0191 0.01319);
    --P30: oklab(39.287% -0.0219 0.01511);
    --P40: oklab(48.145% -0.02597 0.01792);
    --P50: oklab(56.884% -0.02895 0.01998);
    --P60: oklab(65.56% -0.03011 0.02078);
    --P70: oklab(74.198% -0.02842 0.01962);
    --P80: oklab(82.813% -0.02284 0.01577);
    --P87: oklab(88.834% -0.01617 0.01116);
    --P90: oklab(91.412% -0.01264 0.00873);
    --P92: oklab(93.131% -0.01017 0.00702);
    --P94: oklab(94.849% -0.00765 0.00528);
    --P95: oklab(95.707% -0.00637 0.0044);
    --P96: oklab(96.566% -0.0051 0.00352);
    --P98: oklab(98.283% -0.00254 0.00175);
    --P100: oklab(100% -0.00445 0.00307);

    --A0: oklab(0% 0.02835 -0.01957);
    --A10: oklab(20.103% 0.07382 -0.05096);
    --A20: oklab(30.152% 0.11208 0.02835);
    --A30: oklab(39.287% 0.11732 0.07281);
    --A40: oklab(48.145% 0.00237 0.0948);
    --A50: oklab(56.884% -0.13834 0.09548);
    --A60: oklab(65.56% -0.16035 0.11068);
    --A70: oklab(74.198% -0.1829 0.12624);
    --A80: oklab(82.813% -0.19034 0.10868);
    --A90: oklab(91.412% -0.06538 -0.03675);
    --A100: oklab(100% -0.00063 -0.00786);

    --E0: oklab(0% 0.01917 0.01465);
    --E10: oklab(20.103% 0.04992 0.03815);
    --E20: oklab(30.152% 0.0749 0.05724);
    --E30: oklab(39.287% 0.09761 0.07459);
    --E40: oklab(48.145% 0.11943 0.09126);
    --E50: oklab(56.884% 0.1397 0.10675);
    --E60: oklab(65.56% 0.15378 0.11751);
    --E70: oklab(74.198% 0.12055 0.09212);
    --E80: oklab(82.813% 0.07553 0.05772);
    --E90: oklab(91.412% 0.03498 0.02673);
    --E100: oklab(100% 0.0066 0.00504);
}