:root {
    --P0: oklab(0% -0.01862 0.01285);
    --P4: oklab(12.006% -0.02895 0.01999);
    --P6: oklab(15.145% -0.03653 0.02521);
    --P10: oklab(20.103% -0.0485 0.03347);
    --P12: oklab(22.274% -0.05374 0.03709);
    --P17: oklab(27.296% -0.06588 0.04547);
    --P20: oklab(30.152% -0.07279 0.05024);
    --P22: oklab(32.017% -0.07731 0.05336);
    --P24: oklab(33.859% -0.08178 0.05645);
    --P30: oklab(39.287% -0.09497 0.06555);
    --P40: oklab(48.145% -0.11665 0.08051);
    --P50: oklab(56.884% -0.13834 0.09548);
    --P60: oklab(65.56% -0.16035 0.11068);
    --P70: oklab(74.198% -0.1829 0.12624);
    --P80: oklab(82.813% -0.20538 0.14176);
    --P87: oklab(88.834% -0.17838 0.12313);
    --P90: oklab(91.412% -0.13134 0.09065);
    --P92: oklab(93.131% -0.10193 0.07035);
    --P94: oklab(94.849% -0.07417 0.0512);
    --P95: oklab(95.707% -0.0609 0.04203);
    --P96: oklab(96.566% -0.04801 0.03314);
    --P98: oklab(98.283% -0.02334 0.01611);
    --P100: oklab(100% -0.01862 0.01285);

    --A0: oklab(0% 0.02835 -0.01957);
    --A10: oklab(20.103% 0.07382 -0.05096);
    --A20: oklab(30.152% 0.11208 0.02835);
    --A30: oklab(39.287% 0.11732 0.07281);
    --A40: oklab(48.145% 0.00237 0.0948);
    --A50: oklab(56.884% -0.13834 0.09548);
    --A60: oklab(65.56% -0.16035 0.11068);
    --A70: oklab(74.198% -0.1829 0.12624);
    --A80: oklab(82.813% -0.19034 0.10868);
    --A90: oklab(91.412% -0.06538 -0.03675);
    --A100: oklab(100% -0.00063 -0.00786);

    --E0: oklab(0% 0.01917 0.01465);
    --E10: oklab(20.103% 0.04992 0.03815);
    --E20: oklab(30.152% 0.0749 0.05724);
    --E30: oklab(39.287% 0.09761 0.07459);
    --E40: oklab(48.145% 0.11943 0.09126);
    --E50: oklab(56.884% 0.1397 0.10675);
    --E60: oklab(65.56% 0.15378 0.11751);
    --E70: oklab(74.198% 0.12055 0.09212);
    --E80: oklab(82.813% 0.07553 0.05772);
    --E90: oklab(91.412% 0.03498 0.02673);
    --E100: oklab(100% 0.0066 0.00504);
}