:root {
    --P0: oklab(0% -0.01014 -0.0021);
    --P4: oklab(12.006% -0.01576 -0.00327);
    --P6: oklab(15.145% -0.01988 -0.00413);
    --P10: oklab(20.103% -0.02638 -0.00547);
    --P12: oklab(22.274% -0.02922 -0.00606);
    --P17: oklab(27.296% -0.03578 -0.00742);
    --P20: oklab(30.152% -0.03949 -0.00819);
    --P22: oklab(32.017% -0.04191 -0.0087);
    --P24: oklab(33.859% -0.0443 -0.00919);
    --P30: oklab(39.287% -0.05128 -0.01064);
    --P40: oklab(48.145% -0.06245 -0.01296);
    --P50: oklab(56.884% -0.07294 -0.01513);
    --P60: oklab(65.56% -0.0822 -0.01705);
    --P70: oklab(74.198% -0.08878 -0.01842);
    --P80: oklab(82.813% -0.08759 -0.01817);
    --P87: oklab(88.834% -0.07186 -0.01491);
    --P90: oklab(91.412% -0.05758 -0.01195);
    --P92: oklab(93.131% -0.04596 -0.00954);
    --P94: oklab(94.849% -0.0341 -0.00707);
    --P95: oklab(95.707% -0.0282 -0.00585);
    --P96: oklab(96.566% -0.02237 -0.00464);
    --P98: oklab(98.283% -0.01099 -0.00228);
    --P100: oklab(100% -0.01014 -0.0021);

    --A0: oklab(0% 0.03021 0.00627);
    --A10: oklab(20.103% 0.07653 0.02517);
    --A20: oklab(30.152% 0.01024 0.06151);
    --A30: oklab(39.287% 0.00882 0.08019);
    --A40: oklab(48.145% -0.02875 -0.26126);
    --A50: oklab(56.884% -0.02586 -0.23498);
    --A60: oklab(65.56% -0.03654 -0.1808);
    --A70: oklab(74.198% -0.1219 -0.03385);
    --A80: oklab(82.813% -0.13932 -0.0289);
    --A90: oklab(91.412% -0.13238 -0.02747);
    --A100: oklab(100% -0.02356 -0.00489);

    --E0: oklab(0% 0.03021 0.00627);
    --E10: oklab(20.103% 0.07867 0.01632);
    --E20: oklab(30.152% 0.118 0.02448);
    --E30: oklab(39.287% 0.15374 0.0319);
    --E40: oklab(48.145% 0.18841 0.03909);
    --E50: oklab(56.884% 0.22261 0.04618);
    --E60: oklab(65.56% 0.23227 0.04819);
    --E70: oklab(74.198% 0.1572 0.03261);
    --E80: oklab(82.813% 0.09547 0.01981);
    --E90: oklab(91.412% 0.04389 0.00911);
    --E100: oklab(100% 0.00826 0.00171);
}